.header {
  width: 100%;
  background-color: $light;
  

  &__container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 24px;
    z-index: 1;
  }

  &__images {
    width: 50.3%;
    margin-bottom: -31px;
  }

  @media (max-width: $screen-lg) {
    &__images {
      max-width: 486px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-sm) {
    &__images {
      min-width: 320px;
    }
  }

  &__colomn {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: $screen-lg) {
    &__colomn {
      max-width: 485px;
      z-index: 1;
      position: absolute;
      top: auto;
      right: 20px;
    }
  }

  @media (max-width: $screen-sm) {
    &__colomn {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0;
    color: $dark;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  @media (max-width: $screen-lg) {
    &__title {
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media (max-width: $screen-sm) {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $dark;
    width: 350px;
    height: 48px;
    color: $bright-light;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: none;
    transition: 0.8s;
    text-decoration: none;
  }

  &__button:hover {
    cursor: pointer;
    filter: invert(100%);
  }

  @media (max-width: $screen-sm) {
    &__button {
      max-width: 280px;
      height: 44px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    top: 20px;
    transition: opacity 0.5s ease-out;
  }
}

@media (max-width: $screen-lg) {
  .header {
    padding: 0;
  }
}
