.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Prompt", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.header {
  background-color: #e7e7e2;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0 24px;
}
.header__menu-items {
  display: flex;
  align-items: center;
  position: absolute;
  left: 24px;
  top: 20px;
}
.header__menu-items:hover {
  cursor: pointer;
  filter: invert(100%);
}
.header__menu-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background-image: url(../../images/header-icon-menu.svg);
  background-size: contain;
}
@media (max-width: 767px) {
  .header__menu-icon {
    width: 24px;
    height: 24px;
  }
}
.header__menu-title {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header__menu-title {
    font-size: 14px;
    line-height: 20px;
  }
}
.header__images {
  width: 50.3%;
  margin-bottom: -31px;
}
@media (max-width: 1439px) {
  .header__images {
    max-width: 486px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header__images {
    min-width: 320px;
  }
}
.header__colomn {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1439px) {
  .header__colomn {
    max-width: 485px;
    z-index: 1;
    position: absolute;
    top: auto;
    right: 20px;
  }
}
@media (max-width: 767px) {
  .header__colomn {
    max-width: 280px;
    margin: 0 auto;
  }
}
.header__title {
  margin: 0;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1439px) {
  .header__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .header__title {
    font-size: 24px;
    line-height: 32px;
  }
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #0a0a0a;
  width: 350px;
  height: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
}
.header__button:hover {
  cursor: pointer;
  filter: invert(100%);
}
@media (max-width: 767px) {
  .header__button {
    max-width: 280px;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1439px) {
  .header {
    padding: 0;
  }
}
.about {
  padding: 80px 20px 0 20px;
}
.about__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}
.about__row:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1439px) {
  .about__row {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .about__row {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .about__row:nth-of-type(2n) {
    flex-direction: column-reverse;
  }
}
.about__title {
  margin: 0;
  width: 50%;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .about__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .about__title {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
  }
}
.about__paragraph-normal {
  margin: auto 0;
  width: 50%;
  color: #0a0a0a;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .about__paragraph-normal {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}
.about__paragraph-medium {
  margin: 0;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.5px;
}
.about__paragraph-medium:nth-of-type(2n) {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .about__paragraph-medium {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .about__paragraph-medium:nth-of-type(2n) {
    margin-top: 20px;
  }
}
.about__images-kendal {
  width: 50%;
  margin-right: 195px;
}
@media (max-width: 1439px) {
  .about__images-kendal {
    margin: auto 0;
    margin-right: 141px;
  }
}
@media (max-width: 767px) {
  .about__images-kendal {
    margin: 0 auto;
    min-width: 280px;
    margin-bottom: 20px;
  }
}
.about__paragraph-container {
  margin: auto 0;
  width: 50%;
  margin-right: -175px;
  z-index: 1;
}
@media (max-width: 1439px) {
  .about__paragraph-container {
    margin-right: -175px;
  }
}
@media (max-width: 767px) {
  .about__paragraph-container {
    width: 100%;
  }
}
.about__images-carti {
  width: 44.15%;
}
@media (max-width: 1439px) {
  .about__images-carti {
    margin: auto 0;
    width: 41.76%;
  }
}
@media (max-width: 767px) {
  .about__images-carti {
    margin: 0 auto;
    min-width: 280px;
    margin-bottom: 20px;
  }
}
.about__images-bella {
  width: 62.5%;
}
@media (max-width: 1439px) {
  .about__images-bella {
    width: 66.65%;
  }
}
@media (max-width: 1439px) {
  .about__images-bella {
    margin: 0 auto;
    min-width: 280px;
  }
}

@media (max-width: 1439px) {
  .about {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .about {
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */